<% provide(:title, 'Edit user') %>
<div class="row"> 
<div class="bia2">
 <h1 class="login100-form-title p-b-43">Update your profile</h1>
   <div class="col-md-5 col-md-offset-4 ">
             <%=form_for(@user) do |f| %>
              <%=render 'layouts/error_messages', object: @user %>
               
                <%=f.label :name %>
                <%=f.text_field :name, class: "form-control" %>

                <%=f.label :email %>
                <%=f.text_field :email, class: "form-control" %>

                <%=f.label :password %>
                <%=f.text_field :password, class: "form-control" %>

                <%=f.label :password_confirmation, "Confirmation" %>
                <%=f.text_field :password_confirmation, class: "form-control" %>

                <%=f.submit "Save your changes", class: "btn btn-success"%>
                <% end %>

         <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="_blank">change</a>
         </div>
        </div>
    </div>