<%provide(:title, 'Sign up') %>
  
<div class="row"> 
    <div class="login100-form image  ">
         <div class="col-lg-offset-8">
           
            <h1 class="login100-form-title p-b-43">Sign up</h1>
         
            <%= form_for(@user) do |f| %>
            <%= render 'layouts/error_messages' %>
                <%= f.label :name %>
                <%= f.text_field :name, placeholder: " Enter your name ", class: 'form-control'  %>


                <%= f.label :email %>
                <%= f.email_field :email, placeholder: " Enter your email ", class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, placeholder: "Enter your password", class: 'form-control' %>

                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, placeholder: " Please confirm your password", class: 'form-control'  %>
                
                <%= f.label :remember_me, class: "checkbox inline " do %>
                        <%= f.check_box :remember_me %>
                        <span>Remember me on this computer</span>
                    <% end %>

                <%= f.submit "Create my account", class: "btn btn-success"%>

            <%end%>
        </div>
    </div>
</div>